---
Checks: >
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -zircon-*,
  -modernize-use-trailing-return-type,
  -readability-else-after-return,
  -readability-static-accessed-through-instance,
  -readability-avoid-const-params-in-decls,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-do-while,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-magic-numbers,
  -readability-identifier-length,
  -boost-use-ranges

WarningsAsErrors: ""

HeaderFilterRegex: ""

FormatStyle: file

CheckOptions:
  - key: cppcoreguidelines-avoid-c-arrays.AllowedTypes
    value: "char"
  - key: modernize-avoid-c-arrays.AllowedTypes
    value: "char"
  - key: cppcoreguidelines-avoid-c-arrays.IgnoreMacros
    value: "true"
  - key: modernize-avoid-c-arrays.IgnoreMacros
    value: "true"
  - key: cppcoreguidelines-avoid-c-arrays.IgnoreConstexpr
    value: "true"
  - key: modernize-avoid-c-arrays.IgnoreConstexpr
    value: "true"
